<h1>Members in {{club}}</h1>

<div id="header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <button mat-raised-button (click)="newMember()">Add Member</button>
</div>

<mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
<mat-table [dataSource]="list" matSort>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
  </ng-container>

  <!-- Club ID Column -->
  <ng-container matColumnDef="club_id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Club ID</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.club_id}}</mat-cell>
  </ng-container>

  <!-- Access Column -->
  <ng-container matColumnDef="access">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Access</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.access | json}}</mat-cell>
  </ng-container>

  <!-- Header columns -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>



