@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin mrf-table-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$backgroundColor: map-get($theme, background);

	.mat-table {
		background: transparent;
	}

	.mat-header-row {
		background: transparent;

		font-family: "Century Gothic";
		font-weight: bold;
	}

	.mat-paginator {
		background: transparent;
	}

	/*.mat-header-row {
		background-color: mat.get-color-from-palette($backgroundColor, app-bar);
	}

	mat-row:nth-child(even){
		background-color: mat.get-color-from-palette($accent);
	}

	mat-row:nth-child(odd){
		background-color: mat.get-color-from-palette($accent, 300);
	}

	mat-row::after {
		border-color: mat.get-color-from-palette($accent); /* See other css file for animation of active bar */
	//}*/
}