@import '~@angular/material/theming';

@mixin mrf-table-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$backgroundColor: map-get($theme, background);

	.mat-header-row {
		background-color: mat-color($backgroundColor, app-bar);
	}

	mat-row:nth-child(even){
		background-color: mat-color($accent);
	}

	mat-row:nth-child(odd){
		background-color: mat-color($accent, 300);
	}

	mat-row::after {
		border-color: mat-color($accent); /* See other css file for animation of active bar */
	}
}