<!-- <div>
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    <mat-icon matSuffix>search</mat-icon>
	</mat-form-field>
 -->
  <!-- <button mat-button [routerLink]="['/club']">Administrator Information</button> -->
<!-- </div> -->


<div id="cerf-list-header">
  <nav id="month-tabs">
    <ul>
      <li [class.mat-elevation-z4]="currentTab=='secretary'">
        <button mat-button (click)="currentTab='secretary'">Show Club</button>
      </li>
      <li [class.mat-elevation-z4]="currentTab=='division'">
        <button mat-button (click)="currentTab='division'">Show Division</button>
      </li>
      <!-- <li [class.mat-elevation-z4]="currentTab=='district'">
        <button mat-button (click)="currentTab='district'">Show All</button>
      </li> -->
    </ul>
  </nav>
</div>
<mat-table [dataSource]="list" matSort>

	<!-- Month Column -->
    <ng-container matColumnDef="month">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Month </mat-header-cell>
      <mat-cell *matCellDef="let row">{{months[row.month-1]}}</mat-cell>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Year </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.year}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="label">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Label </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row}}</mat-cell>
    </ng-container> -->

    <!-- Club ID Column -->
    <!-- <ng-container matColumnDef="club_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Club ID </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.club_id}}</mat-cell>
    </ng-container> -->


    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index">
      	<a mat-icon-button [routerLink]="['/mrf', row.year, row.month]"><mat-icon>open_in_new</mat-icon></a>
      	<button mat-icon-button><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>

    <!-- Status Column (MRF View Only) -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let row">
      	<mat-icon>notification</mat-icon>
      	<mat-icon>notifications_none</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Header columns -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/mrf', row.year, row.month]"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
