@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin cerf-table-theme($theme) {

	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$backgroundColor: map-get($theme, background);




	/*.mat-header-row {
		background-color: mat.get-color-from-palette($backgroundColor, app-bar);
	}

	mat-row:nth-child(even){
		background-color: mat.get-color-from-palette($primary);
	}

	mat-row:nth-child(odd){
		background-color: mat.get-color-from-palette($primary, 300);
	}

	mat-row::after {
		border-color: mat.get-color-from-palette($accent); /* See other css file for animation of active bar */
	//}
}