.mat-column-status {
	flex: 0 0 100px;
}
.mat-column-search {	/* Stop the search bar from taking up too much space */
	flex: 0 0 20%;
}

/*
.mat-header-cell .mat-form-field .mat-form-field-wrapper {
	padding: 0;
}*/