.mat-column-status {
	flex: 0 0 100px;
}
.mat-column-search {	/* Stop the search bar from taking up too much space */
	flex: 0 0 20%;
}

mat-row {
	cursor: pointer;
}
mat-row::after {
	position: absolute;
	content: '';
	border-left: solid 3px;
	transform: scaleY(0);
	transition: transform 250ms ease-in-out;
}
mat-row:hover::after {
	transform: scaleY(1);
}