.menu {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 60px; /* will be transitioned to 340px */
    transition: width 0.3s;
    z-index: 10;
}

.menu.active {
    width: 240px;
}

/* Make list items think they belong in the full open width */
.menu ul {
    display: flex;
    flex-direction: column; /* For putting Settings at the bottom */

    position: absolute;
    z-index: 10;
    /*overflow-y: scroll;*/
    width: 240px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: none;
    text-decoration: none;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 60px;
}
/*
.menu li {
    background: linear-gradient(to left, #003D79 50%, white 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all .4s ease;
}
.menu li:hover {
    background-position:left bottom;
}
.menu li:hover > a {
    color: black;
}*/

.menu a mat-icon {
    vertical-align: middle;
    padding-left: 18px;
}

.menu a {
    /*color: #00A5D9;  TODO: move to theme */
    display: block;
    height: 100%;
    text-decoration: none;
    transition: padding-left .3s;
}

.menu a:hover {
    padding-left: 10px;
}

.menu a span {
    display: none;
    /*vertical-align: middle;*/
    padding-left: 35px;
    /*overflow-x: hidden;*/
}
.menu.active a span {
    display: inline-block;
}



.menu img {
    width: auto;
    height: 30px;
    padding-left: 15px;
    vertical-align: middle;
}