<mat-sidenav-container class="menu-container">
	<mat-sidenav #sidenav mode="over"  class="menu" [class.active]="isExpanded" (mouseover)="isExpanded = true" (mouseout)="isExpanded = false">
		<mat-nav-list>
			<mat-list-item>
				<img matListAvatar src="https://cdn.frontify.com/api/screen/thumbnail/XpAQmPIeugwk-YlQmqh5IG1cjaOlgmHMP6yU-0U2RikNGjJdPLw7tzaKc0J94K2y55GA44JvKPsBo6SwSiNLhg/798">
			</mat-list-item>

			<a mat-list-item *ngFor="let link of authLinks" [routerLink]="link.route" (click)="sidenav.close()">
				<span>{{ link.text }}</span>
				<mat-icon matListIcon *ngIf="link.icon">{{ link.icon }}</mat-icon>
			</a>
			<a mat-list-item [routerLink]="['/']">
				<span>Settings</span>
				<mat-icon matListIcon>settings</mat-icon>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button mat-icon-button (click)="sidenav.toggle()">
				<mat-icon>menu</mat-icon>
			</button>
			<!-- <h2 class="title">MRF Portal</h2> -->
		</mat-toolbar>
		<div id="content">
			<router-outlet></router-outlet>
		</div>
		<img id="masthead" src="https://cdn.frontify.com/api/screen/thumbnail/FHd1PlvaEqeBliTpoW9zibX7hYY6Z3QdmxeeT6H5JnKZn5PsGCyJNLzD414j3q-bIcezE3zs6-E3SrtjKk5H4w/2398">
	</mat-sidenav-content>
</mat-sidenav-container>