.menu {
/*	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;*/
    width: 240px;
}

.menu-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*
.menu ul {
    display: flex;
    flex-direction: column; 

    position: absolute;
    z-index: 10;
    width: 240px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: none;
    text-decoration: none;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 60px;
}

.menu a mat-icon {
    vertical-align: middle;
    padding-left: 18px;
}
*/

.menu a span {
    padding-left: 16px;
}
.menu a {
    transition: padding-left .3s;
}

.menu a:hover {
    padding-left: 10px;
}

/*mat-sidenav-content { 
    display: flex;
}*/

#content {
    /*width: 100%;*/
    padding: 0 3%;
}

#masthead {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    /*left: 0;
    right: 0;
    margin: 0 auto;*/
}