<div class="header" *ngIf="user">
  <h2 class="mat-title">Hello {{user.name}}!</h2>

<!--   <mat-divider></mat-divider>
  <p>{{ user | json }}</p>
  <form #accessForm="ngForm">
    <mat-form-field>
     <mat-label>Club</mat-label>
     <input matInput name="club" [(ngModel)]="user.access.club">
   </mat-form-field>

   <mat-form-field>
     <mat-label>Division</mat-label>
     <input matInput name="division" [(ngModel)]="user.access.division">
   </mat-form-field>

   <mat-form-field>
     <mat-label>District</mat-label>
     <input matInput name="district" [(ngModel)]="user.access.district">
   </mat-form-field>
   <button mat-button (click)="setAccess()">Update</button>
 </form> -->

 <div>
  <button mat-raised-button class="logoutButton" *ngIf="user" (click)="logout()">Log out</button>
</div>
</div>

<div>
  <h3 class="mat-body">Welcome to the MRF Portal! The portal will be open for testing for 1 week. Please refer to the bug report form and the prompts shared in the testing group chat for providing feedback.</h3>
</div>

