<div class="body">
	<h1> Sign Up </h1>

	<form #signupForm="ngForm" (submit)="signup(signupForm)">
			<!-- <mat-form-field appearance="outline">
				<mat-label>Name</mat-label>
				<input matInput disabled [value]="verifiedCode.name">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Division</mat-label>
				<input matInput disabled [value]="verifiedCode.division">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Club</mat-label>
				<input matInput disabled [value]="verifiedCode.club">
			</mat-form-field>
			<br /> -->
			<mat-form-field appearance="outline">
				<mat-label>Registration Code</mat-label>
				<input required matInput [(ngModel)]="code" #Code="ngModel" name="Code">
				<mat-error *ngIf="Code.touched && Code.invalid">Registration code is required</mat-error>
			</mat-form-field>
			<br />
			<mat-form-field appearance="outline">
				<mat-label>Email</mat-label>
				<input required matInput [(ngModel)]="email" #Email="ngModel" name="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
				<mat-error *ngIf="Email.touched && Email.invalid">Enter valid email</mat-error>
			</mat-form-field>
			<br />
			<!-- <mat-form-field appearance="outline">
				<mat-label>Username</mat-label>
				<input required matInput [(ngModel)]="username"
				#Username="ngModel" name="Username">
				<mat-error *ngIf="Username.touched && Username.invalid">Username is required</mat-error>
			</mat-form-field> -->
			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input required	matInput [(ngModel)]="password" #Password="ngModel" name="Password" type="password" validateEqual="ConfirmPassword" reverse="true">
				<mat-error *ngIf="Password.touched && Password.invalid">Password is required</mat-error>
			</mat-form-field>
			<br />
			<mat-form-field appearance="outline">
				<mat-label>Confirm Password</mat-label>
				<input required	matInput [(ngModel)]="confirmPassword" #ConfirmPassword="ngModel" name="ConfirmPassword" type="password" validateEqual="Password">
				<mat-error *ngIf="ConfirmPassword.touched && ConfirmPassword.invalid">Passwords do not match</mat-error>
			</mat-form-field>
			<br />

			<!-- <a [routerLink]="['/faqs']" class="marginRight linkDeco">Is this not you?</a> -->
			<!-- 		TODO: check that these values aren't empty -->
<!-- 			<div *ngIf="isFormUnlocked()">
				<button mat-raised-button (click)="editUserData(FirstName.value, LastName.value, School.value, Division.value)">Next</button>
			</div> -->
			<button mat-raised-button type="submit" [disabled]="!ConfirmPassword.valid || !Password.valid || !Code.valid || !Email.valid">Submit<mat-icon inline="true">done</mat-icon> </button>
			<button mat-raised-button type="button" [routerLink]="['/login']">Login instead</button>
	</form>

</div>