.body{
	text-align: center; 
	height: 70%;
	min-height: 70%;
}

.linkDeco{
	text-decoration: none;
}

.linkDeco:hover{
	text-decoration: underline;
}

.marginRight{
	margin-right: 10px;
}

.marginLeft{
	margin-left: 10px;
}

.marginBottom{
	margin-bottom: 5px;
}