/*@import '~@angular/material/theming';*/
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@import '../themes/main_theme.scss';

@import '../themes/custom_mixins.scss';

/*.main-theme {
	@include angular-material-theme($graphic-standard-theme);
}*/

