<div id="mrf-header">
	<p class="mat-body-1">MRF Month: {{ mrf.month }} </p>
	<div id="mrf-actions">
<!-- 		<a mat-icon-button (click)="goBack()">
			<mat-icon>arrow_back</mat-icon>
		</a> -->
		<mat-spinner *ngIf="false" diameter="36"></mat-spinner>
		<button mat-icon-button [disabled]="!mrfForm.dirty || !mrfForm.valid" (click)="saveMrf()"><mat-icon>save</mat-icon></button>
	</div>
</div>


<mat-divider></mat-divider>
<!-- <nav id="mrf-tabs">
	<ul>
		<li [class.mat-elevation-z4]="currentTab=='main'">
			<button mat-icon-button style="color: green" (click)="currentTab='main'">
				<mat-icon matTooltip="Main">description</mat-icon>
			</button>
		</li>
		<li [class.mat-elevation-z4]="currentTab=='events'">
			<button mat-icon-button (click)="currentTab='events'">
				<mat-icon matTooltip="Events">event</mat-icon>
			</button>
		</li>
		<li [class.mat-elevation-z4]="currentTab=='meetings'">
			<button mat-icon-button (click)="currentTab='meetings'">
				<mat-icon matTooltip="Meetings">person_outline</mat-icon>
			</button>
		</li>
		<li [class.mat-elevation-z4]="currentTab=='dcms'">
			<button mat-icon-button (click)="currentTab='dcms'">
				<mat-icon matTooltip="Dcm">map</mat-icon>
			</button>
		</li>
		<li [class.mat-elevation-z4]="currentTab=='feedback'">
			<button mat-icon-button style="color: blue" (click)="currentTab='feedback'">
				<mat-icon matTooltip="Feedback">comment</mat-icon>
			</button>
		</li>
	</ul>
</nav> -->


<form [formGroup]="mrfForm">
	<div id="main">
		<h3>General Information</h3>
		<!-- <mat-form-field appearance="outline">
			<mat-label>Club ID</mat-label>
			<input matInput formControlName="club_id" readonly>
		</mat-form-field> -->
		<mat-form-field appearance="outline">
			<mat-label>Year</mat-label>
			<input matInput formControlName="year" readonly>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Month</mat-label>
			<input matInput formControlName="month" readonly>
		</mat-form-field>

		<br/>

		<ng-container formGroupName="updates">
			<!-- <mat-checkbox formControlName="duesPaid">Dues Paid?</mat-checkbox>
			<mat-checkbox formControlName="newDuesPaid">New Dues Paid?</mat-checkbox> -->
			<mat-form-field appearance="outline">
				<mat-label># Dues Paid Members</mat-label>
				<input matInput formControlName="dues_paid">
			</mat-form-field>
		</ng-container>

		<!-- <h4>Goals</h4>
		<ng-container formArrayName="goals">
			<div *ngFor="let goal of mrfForm['controls'].goals['controls']; let i=index">
				<p>Goal {{i}}</p>
				<mat-form-field appearance="outline">
					<textarea matInput [formControlName]="i"></textarea>
				</mat-form-field>
			</div>
		</ng-container> -->
	</div>



	<mat-accordion displayMode="flat" [multi]="true">
	  <mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true"
	  						(opened)="openedPanels[1] = 1"
	                       (closed)="openedPanels[1] = 0">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[1] ? "expand_less" : "expand_more" }}</mat-icon>
	        <h3 class="mat-subheading-1">Meeting Attendance</h3>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>

	    <app-input-list [data]="mrf.meetings" [columns]="meetingColumns" (formReady)="inputListReady('meetings', $event)"></app-input-list>

	<!-- 	<div id="meetings">
			<ng-container formArrayName="meetings">
				<div *ngFor="let meeting of mrfForm['controls'].meetings['controls']; let i=index" [formGroupName]="i">
					<h4>Meeting {{i}} <a mat-icon-button (click)="deleteMeeting(i)"><mat-icon>remove</mat-icon></a></h4>
					<mat-form-field appearance="outline">
						<mat-label>Date</mat-label>
						<input matInput [matDatepicker]="meeting" formControlName="date">
						<mat-datepicker type="datetime" #meeting disabled="false"></mat-datepicker>
						<mat-datepicker-toggle matSuffix [for]="meeting"></mat-datepicker-toggle>
						<mat-error>Invalid Date Format</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label># of Members</mat-label>
						<input matInput formControlName="numMembers">
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label># of Kiwanians</mat-label>
						<input matInput formControlName="numKiwanis">
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label># of Guests</mat-label>
						<input matInput formControlName="numGuests">
					</mat-form-field>
					<div formGroupName="advisorAttended">
						<mat-form-field appearance="outline">
						  <mat-select placeholder="Faculty Attended?" formControlName="faculty" required>
						    <mat-option value="yes">Yes</mat-option>
						    <mat-option value="no">No</mat-option>
						  </mat-select>
						  <mat-error>Please choose an option</mat-error>
						</mat-form-field>
						<mat-form-field appearance="outline">
						  <mat-select placeholder="Kiwanis Advisor Attended?" formControlName="kiwanis" required>
						    <mat-option value="yes">Yes</mat-option>
						    <mat-option value="no">No</mat-option>
						  </mat-select>
						  <mat-error>Please choose an option</mat-error>
						</mat-form-field>
					</div>
				</div>
			</ng-container>
			<a mat-icon-button (click)="addMeeting()"><mat-icon>add</mat-icon></a>
		</div> -->


	  </mat-expansion-panel>

	  <mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true"
	  						(opened)="openedPanels[2] = 1"
	                       (closed)="openedPanels[2] = 0">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[2] ? "expand_less" : "expand_more" }}</mat-icon>
	        <h3 class="mat-subheading-1">Board Meeting Attendance</h3>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>

	    <app-input-list [data]="mrf.boardMeetings" [columns]="boardMeetingColumns" (formReady)="inputListReady('boardMeetings', $event)"></app-input-list>

	<!-- 	<div id="meetings">
			<ng-container formArrayName="meetings">
				<div *ngFor="let meeting of mrfForm['controls'].meetings['controls']; let i=index" [formGroupName]="i">
					<h4>Meeting {{i}} <a mat-icon-button (click)="deleteMeeting(i)"><mat-icon>remove</mat-icon></a></h4>
					<mat-form-field appearance="outline">
						<mat-label>Date</mat-label>
						<input matInput [matDatepicker]="meeting" formControlName="date">
						<mat-datepicker type="datetime" #meeting disabled="false"></mat-datepicker>
						<mat-datepicker-toggle matSuffix [for]="meeting"></mat-datepicker-toggle>
						<mat-error>Invalid Date Format</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label># of Members</mat-label>
						<input matInput formControlName="numMembers">
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label># of Kiwanians</mat-label>
						<input matInput formControlName="numKiwanis">
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label># of Guests</mat-label>
						<input matInput formControlName="numGuests">
					</mat-form-field>
					<div formGroupName="advisorAttended">
						<mat-form-field appearance="outline">
						  <mat-select placeholder="Faculty Attended?" formControlName="faculty" required>
						    <mat-option value="yes">Yes</mat-option>
						    <mat-option value="no">No</mat-option>
						  </mat-select>
						  <mat-error>Please choose an option</mat-error>
						</mat-form-field>
						<mat-form-field appearance="outline">
						  <mat-select placeholder="Kiwanis Advisor Attended?" formControlName="kiwanis" required>
						    <mat-option value="yes">Yes</mat-option>
						    <mat-option value="no">No</mat-option>
						  </mat-select>
						  <mat-error>Please choose an option</mat-error>
						</mat-form-field>
					</div>
				</div>
			</ng-container>
			<a mat-icon-button (click)="addMeeting()"><mat-icon>add</mat-icon></a>
		</div> -->


	  </mat-expansion-panel>



	  <mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true"
	  						(opened)="openedPanels[3] = 1"
	                       (closed)="openedPanels[3] = 0">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[3] ? "expand_less" : "expand_more" }}</mat-icon>
	        <h3 class="mat-subheading-1">DCM</h3>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>

	    <div id="dcms">
			<ng-container formGroupName="dcm">
				<mat-form-field appearance="outline">
					<mat-label>Date</mat-label>
					<input matInput [matDatepicker]="dcmDate" formControlName="date">	<!-- scoping -->
					<mat-datepicker type="date" #dcmDate></mat-datepicker>
					<mat-datepicker-toggle matSuffix [for]="dcmDate"></mat-datepicker-toggle>
					<mat-error>Invalid Date Format</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Members Attended</mat-label>
					<input matInput type="number" formControlName="numMembers">
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Next DCM Date</mat-label>
					<input matInput [matDatepicker]="dcmDateNext" formControlName="nextDate">	<!-- scoping -->
					<mat-datepicker type="date" #dcmDateNext></mat-datepicker>
					<mat-datepicker-toggle matSuffix [for]="dcmDateNext"></mat-datepicker-toggle>
					<mat-error>Invalid Date Format</mat-error>
				</mat-form-field>
				<mat-checkbox formControlName="presidentAttended">President Attended?</mat-checkbox>
			</ng-container>
		</div>
	  </mat-expansion-panel>


	  <mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true"
	  						(opened)="openedPanels[4] = 1"
	                       (closed)="openedPanels[4] = 0">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[4] ? "expand_less" : "expand_more" }}</mat-icon>
	        <h3 class="mat-subheading-1">Fundraising</h3>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>

	    <app-input-list [data]="mrf.fundraising" [columns]="fundraisingColumns" (formReady)="inputListReady('fundraising', $event)"></app-input-list>
	    <!-- <div id="fundraising">
	    	<mat-table [dataSource]="members" formArrayName="fundraising">

				<ng-container matColumnDef="source">
					<mat-header-cell *matHeaderCellDef>Source</mat-header-cell>
					<mat-cell *matCellDef="let fundraising; let i=index" [formGroupName]="i">
				
						<input newlyfocus matInput formControlName="source">
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="fundraising-cell">
							<mat-label>+ Add fundraising</mat-label>
							<input matInput (focus)="addFundraising()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>

				<ng-container matColumnDef="ptp">
					<mat-header-cell *matHeaderCellDef>PTP</mat-header-cell>
					<mat-cell *matCellDef="let fundraising; let i=index"  [formGroupName]="i">
						<input matInput formControlName="ptp">
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<p class="mat-body">0</p>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="kfh">
					<mat-header-cell *matHeaderCellDef>KFH</mat-header-cell>
					<mat-cell *matCellDef="let fundraising; let i=index"  [formGroupName]="i">
						<input matInput formControlName="kfh">
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<p class="mat-body">0</p>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="fa">
					<mat-header-cell *matHeaderCellDef>Feeding America</mat-header-cell>
					<mat-cell *matCellDef="let fundraising; let i=index"  [formGroupName]="i">
						<input matInput formControlName="fa">
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<p class="mat-body">0</p>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="other">
					<mat-header-cell *matHeaderCellDef>Other Charity</mat-header-cell>
					<mat-cell *matCellDef="let fundraising; let i=index"  [formGroupName]="i">
						<input matInput formControlName="other">
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<p class="mat-body">0</p>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="admin">
					<mat-header-cell *matHeaderCellDef>Administrative</mat-header-cell>
					<mat-cell *matCellDef="let fundraising; let i=index"  [formGroupName]="i">
						<input matInput formControlName="admin">
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<p class="mat-body">0</p>
					</mat-footer-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="fundraisingColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: fundraisingColumns;"></mat-row>
				<mat-footer-row *matFooterRowDef="fundraisingColumns"></mat-footer-row>
			</mat-table>
		</div> -->
	  </mat-expansion-panel>




	  <mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true"
	  						(opened)="openedPanels[5] = 1"
	                       (closed)="openedPanels[5] = 0">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[5] ? "expand_less" : "expand_more" }}</mat-icon>
	        <h3 class="mat-subheading-1">Feedback</h3>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>

		<div id="feedback" formGroupName="communications">
			<ng-container formGroupName="ltg">
				<!-- <h4 class="subtitle">LTG</h4> -->
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>LTG</mat-label>
					<textarea matInput formControlName="message" matTextareaAutosize></textarea>
				</mat-form-field>
				<p>Contacted</p>
				<div formGroupName="contacted">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Visit</mat-label>
						<textarea matInput formControlName="visit" matTextareaAutosize></textarea>
					</mat-form-field>
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Phone</mat-label>
						<textarea matInput formControlName="phone" matTextareaAutosize></textarea>
					</mat-form-field>
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Email</mat-label>
						<textarea matInput formControlName="email" matTextareaAutosize></textarea>
					</mat-form-field>
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Newsletter</mat-label>
						<textarea matInput formControlName="newsletter" matTextareaAutosize></textarea>
					</mat-form-field>
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Other</mat-label>
						<textarea matInput formControlName="other" matTextareaAutosize></textarea>
					</mat-form-field>
				</div>
			</ng-container>

			<h4 class="subtitle">DBoard</h4>
			<mat-form-field appearance="outline" class="full-width">
				<textarea matInput formControlName="dboard" matTextareaAutosize></textarea>
			</mat-form-field>
		</div>
	  </mat-expansion-panel>


	  <mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true"
	  						(opened)="openedPanels[0] = 1"
	                       (closed)="openedPanels[0] = 0">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[0] ? "expand_less" : "expand_more" }}</mat-icon>
	        <h3 class="mat-subheading-1">Event Reports</h3>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>

	    <div id="events">
			<app-cerflist *ngIf='mrf.events; else loadingCerf' [cerfList]="mrf.events"></app-cerflist>
			<ng-template #loadingCerf> <mat-spinner></mat-spinner> </ng-template>
		</div>
	  </mat-expansion-panel>

	</mat-accordion>


	

	


	
	<!-- <mat-form-field appearance="outline">
		<input matInput placeholder="Total Service Hours" value="241"/>
		<button matSuffix mat-icon-button matTooltip="Update hours from CERFs"><mat-icon>update</mat-icon></button>
	</mat-form-field> -->

	<br/>
	<!-- <app-cerflist [cerfList]="mrf.data?.events" [mrfId]="mrf._id"></app-cerflist> -->


</form>