<div id="mrf-header">
	<div id="mrf-actions">
		<a mat-icon-button (click)="goBack()">
			<mat-icon>arrow_back</mat-icon>
		</a>
		<p>Mrf ID: none, removing IDs | Month: {{ mrf.month }} </p>
	</div>
</div>


<mat-divider></mat-divider>
<nav id="mrf-tabs">
	<ul>
		<li [class.mat-elevation-z4]="currentTab=='main'">
			<button mat-icon-button style="color: green" (click)="currentTab='main'">
				<mat-icon matTooltip="Main">description</mat-icon>
			</button>
		</li>
		<li [class.mat-elevation-z4]="currentTab=='events'">
			<button mat-icon-button (click)="currentTab='events'">
				<mat-icon matTooltip="Events">event</mat-icon>
			</button>
		</li>
		<li [class.mat-elevation-z4]="currentTab=='meetings'">
			<button mat-icon-button (click)="currentTab='meetings'">
				<mat-icon matTooltip="Meetings">person_outline</mat-icon>
			</button>
		</li>
		<li [class.mat-elevation-z4]="currentTab=='dcms'">
			<button mat-icon-button (click)="currentTab='dcms'">
				<mat-icon matTooltip="Dcm">map</mat-icon>
			</button>
		</li>
		<li [class.mat-elevation-z4]="currentTab=='feedback'">
			<button mat-icon-button style="color: blue" (click)="currentTab='feedback'">
				<mat-icon matTooltip="Feedback">comment</mat-icon>
			</button>
		</li>
	</ul>
</nav>


<form [formGroup]="mrfForm">

	<div id="main" *ngIf="currentTab=='main'">
		<h3>Main</h3>
		<mat-form-field>
			<mat-label>Club ID</mat-label>
			<input matInput formControlName="club_id" readonly>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Year</mat-label>
			<input matInput formControlName="year" readonly>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Month</mat-label>
			<input matInput formControlName="month" readonly>
		</mat-form-field>

		<br/>

		<ng-container formGroupName="updates">
			<mat-checkbox formControlName="duesPaid">Dues Paid?</mat-checkbox>
			<mat-checkbox formControlName="newDuesPaid">New Dues Paid?</mat-checkbox>
		</ng-container>

		<h4>Goals</h4>
		<ng-container formArrayName="goals">
			<div *ngFor="let goal of mrfForm.controls.goals.controls; let i=index">
				<p>Goal {{i}}</p>
				<mat-form-field>
					<textarea matInput [formControlName]="i"></textarea>
				</mat-form-field>
			</div>
		</ng-container>
	</div>

	<div id="events" *ngIf="currentTab=='events'">
		<h3>Events</h3>
		<app-cerflist *ngIf='cerfList; else loadingCerf' [cerfList]="cerfList" [pendingCerfs]="true"></app-cerflist>
		<ng-template #loadingCerf> <mat-spinner></mat-spinner> </ng-template>
	</div>

	<div id="meetings" *ngIf="currentTab=='meetings'">
		<h3>Club Meetings</h3>
		<ng-container formArrayName="meetings">
			<div *ngFor="let meeting of mrfForm.controls.meetings.controls; let i=index" [formGroupName]="i">
				<h4>Meeting {{i}}</h4>
				<mat-form-field>
					<mat-label>Date</mat-label>
					<input matInput [matDatepicker]="meeting" formControlName="date">	<!-- scoping -->
					<mat-datepicker type="datetime" #meeting disabled="false"></mat-datepicker>
					<mat-datepicker-toggle matSuffix [for]="meeting"></mat-datepicker-toggle>
					<mat-error>Invalid Date Format</mat-error>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Members</mat-label>
					<input matInput formControlName="numMembers">
				</mat-form-field>
				<mat-form-field>
					<mat-label>Non Club Members</mat-label>
					<input matInput formControlName="numNonHomeMembers">
				</mat-form-field>
				<mat-form-field>
					<mat-label>Kiwanians</mat-label>
					<input matInput formControlName="numKiwanis">
				</mat-form-field>
				<mat-form-field>
					<mat-label>Guests</mat-label>
					<input matInput formControlName="numGuests">
				</mat-form-field>
				<div formGroupName="advisorAttended">
					<mat-form-field>
						<mat-label>Faculty</mat-label>
						<input matInput formControlName="faculty">
					</mat-form-field>
					<mat-form-field>
						<mat-label>Kiwanis Advisor</mat-label>
						<input matInput formControlName="kiwanis">
					</mat-form-field>
				</div>
			</div>
		</ng-container>
	</div>

	<div id="dcms" *ngIf="currentTab=='dcms'">
		<h3>DCM</h3>
		<ng-container formGroupName="dcm">
			<h4 class="subtitle">Meeting {{i}}</h4>
			<mat-form-field>
				<mat-label>Date</mat-label>
				<input matInput [matDatepicker]="dcmDate" formControlName="date">	<!-- scoping -->
				<mat-datepicker type="datetime" #dcmDate></mat-datepicker>
				<mat-datepicker-toggle matSuffix [for]="dcmDate"></mat-datepicker-toggle>
				<mat-error>Invalid Date Format</mat-error>
			</mat-form-field>
			<br/>
			<mat-checkbox formControlName="presidentAttended">President Attended?</mat-checkbox>
			<br/>
			<mat-form-field>
				<mat-label>Members Attended</mat-label>
				<input matInput type="number" formControlName="numMembers">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Next DCM Date</mat-label>
				<input matInput [matDatepicker]="dcmDateNext" formControlName="nextDate">	<!-- scoping -->
				<mat-datepicker type="datetime" #dcmDateNext></mat-datepicker>
				<mat-datepicker-toggle matSuffix [for]="dcmDateNext"></mat-datepicker-toggle>
				<mat-error>Invalid Date Format</mat-error>
			</mat-form-field>
		</ng-container>
	</div>

	<div id="feedback" *ngIf="currentTab=='feedback'" formGroupName="communications">
		<h3>Feedback</h3>
		<ng-container formGroupName="ltg">
			<h4 class="subtitle">LTG</h4>
			<mat-form-field>
				<textarea matInput formControlName="message"></textarea>
			</mat-form-field>
			<p>Contacted</p>
			<div formGroupName="contacted">
				<mat-form-field>
					<textarea matInput formControlName="visit"></textarea>
				</mat-form-field>
				<mat-form-field>
					<textarea matInput formControlName="phone"></textarea>
				</mat-form-field>
				<mat-form-field>
					<textarea matInput formControlName="email"></textarea>
				</mat-form-field>
				<mat-form-field>
					<textarea matInput formControlName="newsletter"></textarea>
				</mat-form-field>
				<mat-form-field>
					<textarea matInput formControlName="other"></textarea>
				</mat-form-field>
			</div>
		</ng-container>

		<h4 class="subtitle">DBoard</h4>
		<mat-form-field>
			<textarea matInput formControlName="dboard"></textarea>
		</mat-form-field>
	</div>
	
	<!-- <mat-form-field>
		<input matInput placeholder="Total Service Hours" value="241"/>
		<button matSuffix mat-icon-button matTooltip="Update hours from CERFs"><mat-icon>update</mat-icon></button>
	</mat-form-field> -->

	<br/>
	<!-- <app-cerflist [cerfList]="mrf.data?.events" [mrfId]="mrf._id"></app-cerflist> -->


</form>