<!-- might want to change ngIf checks to something more explicit, rather than relying on mrfForm not being undefined -->

<div id="mrf-header">
	<p class="mat-body-1">MRF Month: <ng-container *ngIf="mrfForm">{{ mrf.month }}</ng-container></p>
	<div id="mrf-actions" *ngIf="mrfForm; else loading">
		<mat-spinner *ngIf="false" diameter="36"></mat-spinner>
		<button mat-icon-button [disabled]="!mrfForm.dirty || !mrfForm.valid" (click)="saveMrf()"><mat-icon>save</mat-icon></button>
	</div>
</div>


<mat-divider></mat-divider>

<form [formGroup]="mrfForm" *ngIf="mrfForm; else loading">
	<div id="main">
		<h3>General Information</h3>
		<mat-form-field appearance="outline">
			<mat-label>Year</mat-label>
			<input matInput formControlName="year" readonly>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Month</mat-label>
			<input matInput formControlName="month" readonly>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label># Dues Paid Members</mat-label>
			<input matInput formControlName="numDuesPaid">
		</mat-form-field>
	</div>



	<mat-accordion displayMode="flat" [multi]="true">
		<mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true" (opened)="openedPanels[1] = 1" (closed)="openedPanels[1] = 0">
			<mat-expansion-panel-header>
				<mat-panel-title>
					<mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[1] ? "expand_less" : "expand_more" }}</mat-icon>
					<h3 class="mat-subheading-1">Meeting Attendance</h3>
				</mat-panel-title>
				<mat-panel-description>
				</mat-panel-description>
			</mat-expansion-panel-header>

			<button mat-icon-button (click)="toggleEdit(1)"><mat-icon>edit</mat-icon></button>

			<mat-table [dataSource]="meetingArray.controls" formArrayName="meetings">
				<ng-container matColumnDef="date">
					<mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<input  [readonly]="!editingMeetings" [class.editing]="editingMeetings" matInput formControlName="date">
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="new-row">
							<mat-label>MM-DD-YYYY</mat-label>
							<input matInput  [(ngModel)]="newMeeting.date" [ngModelOptions]="{standalone: true}" (keyup.enter)="addMeetingRow()" id="meetingFocus">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="numMembers">
					<mat-header-cell *matHeaderCellDef>Home club members</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<ng-container formGroupName="attendance">
							<input [readonly]="!editingMeetings" [class.editing]="editingMeetings" matInput formControlName="numMembers">
						</ng-container>
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="new-row">
							<mat-label>#</mat-label>
							<input matInput  [(ngModel)]="newMeeting.attendance.numMembers" [ngModelOptions]="{standalone: true}" (keyup.enter)="addMeetingRow()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="numNonHomeMembers">
					<mat-header-cell *matHeaderCellDef>Other CKI members</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<ng-container formGroupName="attendance">
							<input [readonly]="!editingMeetings" [class.editing]="editingMeetings" matInput formControlName="numNonHomeMembers">
						</ng-container>
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="new-row">
							<mat-label>#</mat-label>
							<input matInput  [(ngModel)]="newMeeting.attendance.numNonHomeMembers" [ngModelOptions]="{standalone: true}" (keyup.enter)="addMeetingRow()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="numKiwanis">
					<mat-header-cell *matHeaderCellDef>Kiwanians</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<ng-container formGroupName="attendance">
							<input [readonly]="!editingMeetings" [class.editing]="editingMeetings" matInput formControlName="numKiwanis">
						</ng-container>
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="new-row">
							<mat-label>#</mat-label>
							<input matInput  [(ngModel)]="newMeeting.attendance.numKiwanis" [ngModelOptions]="{standalone: true}" (keyup.enter)="addMeetingRow()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="numGuests">
					<mat-header-cell *matHeaderCellDef>Other guests</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<ng-container formGroupName="attendance">
							<input [readonly]="!editingMeetings" [class.editing]="editingMeetings" matInput formControlName="numGuests">
						</ng-container>
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="new-row">
							<mat-label>#</mat-label>
							<input matInput  [(ngModel)]="newMeeting.attendance.numGuests" [ngModelOptions]="{standalone: true}" (keyup.enter)="addMeetingRow()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="facultyAttended">
					<mat-header-cell *matHeaderCellDef>Faculty advisor</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<ng-container formGroupName="advisorAttended">
							<mat-checkbox [disabled]="!editingMeetings" formControlName="faculty"></mat-checkbox>
						</ng-container>
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-checkbox [(ngModel)]="newMeeting.advisorAttended.faculty" [ngModelOptions]="{standalone: true}"></mat-checkbox>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="kiwanisAttended">
					<mat-header-cell *matHeaderCellDef>Kiwanis advisor</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<ng-container formGroupName="advisorAttended">
							<mat-checkbox [disabled]="!editingMeetings" formControlName="kiwanis"></mat-checkbox>
						</ng-container>
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-checkbox [(ngModel)]="newMeeting.advisorAttended.kiwanis" [ngModelOptions]="{standalone: true}" (keydown.Tab)="addMeetingRow()"></mat-checkbox>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
					<mat-cell *matCellDef="let row; let i = index">
						<button mat-icon-button (click)="toggleEdit(1)"><mat-icon>edit</mat-icon></button>
						<button mat-icon-button (click)="deleteMeeting(i)"><mat-icon>delete</mat-icon></button>
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<button mat-raised-button (click)="addMeetingRow()">+ Add</button>
					</mat-footer-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="meetingColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: meetingColumns;"></mat-row>
				<mat-footer-row *matFooterRowDef="meetingColumns"></mat-footer-row>
			</mat-table>

		</mat-expansion-panel>

		<mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true" (opened)="openedPanels[2] = 1" (closed)="openedPanels[2] = 0">
			<mat-expansion-panel-header>
				<mat-panel-title>
					<mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[2] ? "expand_less" : "expand_more" }}</mat-icon>
					<h3 class="mat-subheading-1">Board Meeting Attendance</h3>
				</mat-panel-title>
				<mat-panel-description>
				</mat-panel-description>
			</mat-expansion-panel-header>

			<button mat-icon-button (click)="toggleEdit(2)"><mat-icon>edit</mat-icon></button>

			<mat-table [dataSource]="boardMeetingArray.controls" formArrayName="boardMeetings">
				<ng-container matColumnDef="date">
					<mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<input  [readonly]="!editingBoardMeetings" [class.editing]="editingBoardMeetings" matInput formControlName="date">
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="new-row">
							<mat-label>MM-DD-YYYY</mat-label>
							<input matInput  [(ngModel)]="newBoardMeeting.date" [ngModelOptions]="{standalone: true}" (keyup.enter)="addBoardMeetingRow()" id="boardMeetingFocus">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="boardMembers">
					<mat-header-cell *matHeaderCellDef>Board members</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<ng-container formGroupName="attendance">
							<input [readonly]="!editingBoardMeetings" [class.editing]="editingBoardMeetings" matInput formControlName="numBoard">
						</ng-container>
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="new-row">
							<mat-label>#</mat-label>
							<input matInput  [(ngModel)]="newBoardMeeting.attendance.numBoard" [ngModelOptions]="{standalone: true}" (keyup.enter)="addBoardMeetingRow()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="guests">
					<mat-header-cell *matHeaderCellDef>Guests</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<ng-container formGroupName="attendance">
							<input [readonly]="!editingBoardMeetings" [class.editing]="editingBoardMeetings" matInput formControlName="numGuests">
						</ng-container>
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="new-row">
							<mat-label>#</mat-label>
							<input matInput  [(ngModel)]="newBoardMeeting.attendance.numGuests" [ngModelOptions]="{standalone: true}" (keyup.enter)="addBoardMeetingRow()" (keydown.Tab)="addBoardMeetingRow()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
					<mat-cell *matCellDef="let row; let i = index">
						<button mat-icon-button (click)="toggleEdit(2)"><mat-icon>edit</mat-icon></button>
						<button mat-icon-button (click)="deleteBoardMeeting(i)"><mat-icon>delete</mat-icon></button>
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<button mat-raised-button (click)="addBoardMeetingRow()">+ Add</button>
					</mat-footer-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="boardMeetingColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: boardMeetingColumns;"></mat-row>
				<mat-footer-row *matFooterRowDef="boardMeetingColumns"></mat-footer-row>
			</mat-table>
		</mat-expansion-panel>



		<mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true" (opened)="openedPanels[3] = 1" (closed)="openedPanels[3] = 0">
			<mat-expansion-panel-header>
				<mat-panel-title>
					<mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[3] ? "expand_less" : "expand_more" }}</mat-icon>
					<h3 class="mat-subheading-1">DCM</h3>
				</mat-panel-title>
				<mat-panel-description>
				</mat-panel-description>
			</mat-expansion-panel-header>

			<div id="dcms">
				<ng-container formGroupName="dcm">
					<mat-form-field appearance="outline">
						<mat-label>Date</mat-label>
						<input matInput [matDatepicker]="dcmDate" formControlName="date">	<!-- scoping -->
						<mat-datepicker type="date" #dcmDate></mat-datepicker>
						<mat-datepicker-toggle matSuffix [for]="dcmDate"></mat-datepicker-toggle>
						<mat-error>Invalid Date Format</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Members Attended</mat-label>
						<input matInput type="number" formControlName="numMembers">
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Next DCM Date</mat-label>
						<input matInput [matDatepicker]="dcmDateNext" formControlName="nextDate">	<!-- scoping -->
						<mat-datepicker type="date" #dcmDateNext></mat-datepicker>
						<mat-datepicker-toggle matSuffix [for]="dcmDateNext"></mat-datepicker-toggle>
						<mat-error>Invalid Date Format</mat-error>
					</mat-form-field>
					<mat-checkbox formControlName="presidentAttended">President Attended?</mat-checkbox>
				</ng-container>
			</div>
		</mat-expansion-panel>


		<mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true" (opened)="openedPanels[4] = 1" (closed)="openedPanels[4] = 0">
			<mat-expansion-panel-header>
				<mat-panel-title>
					<mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[4] ? "expand_less" : "expand_more" }}</mat-icon>
					<h3 class="mat-subheading-1">Fundraising</h3>
				</mat-panel-title>
				<mat-panel-description>
				</mat-panel-description>
			</mat-expansion-panel-header>

			<button mat-icon-button (click)="toggleEdit(3)"><mat-icon>edit</mat-icon></button>
			<mat-table [dataSource]="fundraisingArray.controls" formArrayName="fundraising">
				<ng-container matColumnDef="source">
					<mat-header-cell *matHeaderCellDef>Source</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<input  [readonly]="!editingFundraising" [class.editing]="editingFundraising" matInput formControlName="source">
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="new-row">
							<mat-label>+ Add Fundraiser</mat-label>
							<input matInput  [(ngModel)]="newFundraising.source" [ngModelOptions]="{standalone: true}" (keyup.enter)="addFundraisingRow()" id="fundraisingFocus">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="ptp">
					<mat-header-cell *matHeaderCellDef>PTP</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<input [readonly]="!editingFundraising" [class.editing]="editingFundraising" matInput formControlName="ptp">
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="new-row">
							<mat-label>$</mat-label>
							<input matInput  [(ngModel)]="newFundraising.ptp" [ngModelOptions]="{standalone: true}" (keyup.enter)="addFundraisingRow()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="kfh">
					<mat-header-cell *matHeaderCellDef>KFH</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<input [readonly]="!editingFundraising" [class.editing]="editingFundraising" matInput formControlName="kfh">
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="new-row">
							<mat-label>$</mat-label>
							<input matInput  [(ngModel)]="newFundraising.kfh" [ngModelOptions]="{standalone: true}" (keyup.enter)="addFundraisingRow()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="fa">
					<mat-header-cell *matHeaderCellDef>Feeding America</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<input [readonly]="!editingFundraising" [class.editing]="editingFundraising" matInput formControlName="fa">
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="new-row">
							<mat-label>$</mat-label>
							<input matInput  [(ngModel)]="newFundraising.fa" [ngModelOptions]="{standalone: true}" (keyup.enter)="addFundraisingRow()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="other">
					<mat-header-cell *matHeaderCellDef>Other charity</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<input [readonly]="!editingFundraising" [class.editing]="editingFundraising" matInput formControlName="other">
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="new-row">
							<mat-label>$</mat-label>
							<input matInput  [(ngModel)]="newFundraising.other" [ngModelOptions]="{standalone: true}" (keyup.enter)="addFundraisingRow()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="admin">
					<mat-header-cell *matHeaderCellDef>Administrative</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						<input [readonly]="!editingFundraising" [class.editing]="editingFundraising" matInput formControlName="admin">
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="new-row">
							<mat-label>$</mat-label>
							<input matInput  [(ngModel)]="newFundraising.admin" [ngModelOptions]="{standalone: true}" (keyup.enter)="addFundraisingRow()" (keydown.Tab)="addFundraisingRow()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
					<mat-cell *matCellDef="let row; let i = index">
						<button mat-icon-button (click)="toggleEdit(3)"><mat-icon>edit</mat-icon></button>
						<button mat-icon-button (click)="deleteFundraising(i)"><mat-icon>delete</mat-icon></button>
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<button mat-raised-button (click)="addFundraisingRow()">+ Add</button>
					</mat-footer-cell>
				</ng-container>


				<mat-header-row *matHeaderRowDef="fundraisingColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: fundraisingColumns;"></mat-row>
				<mat-footer-row *matFooterRowDef="fundraisingColumns"></mat-footer-row>
			</mat-table>
		</mat-expansion-panel>




		<mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true" (opened)="openedPanels[5] = 1" (closed)="openedPanels[5] = 0">
			<mat-expansion-panel-header>
				<mat-panel-title>
					<mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[5] ? "expand_less" : "expand_more" }}</mat-icon>
					<h3 class="mat-subheading-1">Feedback</h3>
				</mat-panel-title>
				<mat-panel-description>
				</mat-panel-description>
			</mat-expansion-panel-header>

			<div id="feedback" formGroupName="communications">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>LTG</mat-label>
					<textarea matInput formControlName="ltg" matTextareaAutosize></textarea>
				</mat-form-field>

				<mat-form-field appearance="outline" class="full-width">
					<mat-label>District Board</mat-label>
					<textarea matInput formControlName="dboard" matTextareaAutosize></textarea>
				</mat-form-field>
			</div>
		</mat-expansion-panel>


		<mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true" (opened)="openedPanels[0] = 1" (closed)="openedPanels[0] = 0">
			<mat-expansion-panel-header>
				<mat-panel-title>
					<mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[0] ? "expand_less" : "expand_more" }}</mat-icon>
					<h3 class="mat-subheading-1">Event Reports</h3>
				</mat-panel-title>
				<mat-panel-description>
				</mat-panel-description>
			</mat-expansion-panel-header>

			<mat-table [dataSource]="eventsArray.controls" formArrayName="events">
				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef>Event Name</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						{{row.value.name}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="date">
					<mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						{{row.value.date | date:'shortDate'}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="numAttendees">
					<mat-header-cell *matHeaderCellDef>Attendance</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						{{row.value.numAttendees}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="totalService">
					<mat-header-cell *matHeaderCellDef>Total Service</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						{{row.value.totalService}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="totalLeadership">
					<mat-header-cell *matHeaderCellDef>Total Leadership</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						{{row.value.totalLeadership}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="totalFellowship">
					<mat-header-cell *matHeaderCellDef>Total Fellowship</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						{{row.value.totalFellowship}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="tags">
					<mat-header-cell *matHeaderCellDef>Tags</mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
						{{row.value.tags.join(', ')}}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<!-- <button mat-icon-button><mat-icon>edit</mat-icon></button> -->
						<!-- <button mat-icon-button><mat-icon>delete</mat-icon></button> -->
						<button mat-icon-button (click)="toggleEdit()"><mat-icon>open_in_new</mat-icon></button>
					</mat-cell>
				</ng-container>


				<mat-header-row *matHeaderRowDef="eventsColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: eventsColumns;"></mat-row>
			</mat-table>
		</mat-expansion-panel>

	</mat-accordion>
</form>

<ng-template #loading><h3>loading...</h3></ng-template>