<app-mrflist [mrfList]="resolvedData"></app-mrflist>

<mat-divider></mat-divider>

<p>Pending CERFs</p>
<app-cerflist [cerfList]="list"></app-cerflist>

<mat-divider></mat-divider>

<div id="cerf-list-header">
	<p>Club Cerfs</p>
	<nav id="month-tabs">
		<ul>
			<li [class.mat-elevation-z4]="currentTab=='august'">
				<button mat-button (click)="currentTab='august'">August</button>
			</li>
			<li [class.mat-elevation-z4]="currentTab=='july'">
				<button mat-button (click)="currentTab='july'">July</button>
			</li>
			<li [class.mat-elevation-z4]="currentTab=='june'">
				<button mat-button (click)="currentTab='june'">June</button>
			</li>
			<li [class.mat-elevation-z4]="currentTab=='may'">
				<button mat-button (click)="currentTab='may'">May</button>
			</li>
			<li [class.mat-elevation-z4]="currentTab=='april'">
				<button mat-button (click)="currentTab='april'">April</button>
			</li>
		</ul>
	</nav>
</div>
<app-cerflist [cerfList]="list"></app-cerflist>