.mat-form-field {
	padding-left: 5px;
	padding-right: 5px;
}

/* Alignment */

#cerf-header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;	/* Throw the nav to the right */
}
#cerf-actions {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
#cerf-actions p {
	margin: 0;
}
#cerf-actions button {
	margin: 0 5px;
}

#cerf-tabs {
	display: flex;
	right: 0;
	flex-flow: row nowrap;
	margin-bottom: 16px;
}
#cerf-tabs ul {
	display: flex;	/* Change vertical nav to horizontal nav*/
	align-self: flex-end;
	padding: 0;
	margin: 0;	/* Some style sheet is forcing auto-centering margins onto ul */
	list-style: none;
}
#cerf-tabs ul li {
	margin: 0 5px;
}

.mat-elevation-z4 {	/* Using this as an 'active tab' selector, though we can add a bit more code to separate the two */
	border-radius: 0 0 4px 4px;
}

#memberTable {
	margin: 5% 0;
}

#commentary {
	display: flex;
	flex-direction: column;
}


.activeColor {
	border: solid 2px white;
}

/*#tags .mat-checkbox {
	margin: 0 20px 0 0;
}*/
#tags {
	display: grid;
	grid-auto-flow: row;
}
@media screen and (min-width: 500px) and (max-width: 768px) {
	#tags {
		grid-template-columns: 250px 250px;
	}
}
@media screen and (min-width: 769px) {
	#tags {
		grid-template-columns: 250px 250px 250px;
	}
}

#labels {
	display: flex;
	flex-flow: row wrap;
}

#labels > div {
	position: relative;
	margin: 5px 10px;
}

.categoryButton.activeCategory {
	background-color: #00a5d9;
	color: white;
}

.deleteCategory {
	visibility: hidden;
	position: absolute;
	top: -25px;
	right: -25px;
}
.categoryButton:hover ~ .deleteCategory, .deleteCategory:hover {
	visibility: visible;
}

/* Validation/feedback */
/*input.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

input.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
input.ng-invalid:not(form) ~ span {
  padding-left: 5px;
}*/