<!-- mat expansion panel: add mat-elevation-z0 class, hideToggle = true -->
<!-- outline overlapping with label issue: https://github.com/angular/material2/pull/13477 -->

<div id="cerf-header">
	<h1 class="mat-title">Event Report</h1>

	<!-- !!!!!!!!!!!!!!****** Change all cerf references to form references since at this point, the form is a copy -->
	<!-- or somehow make form changes propagate to cerf -->

	<div id="cerf-actions" *ngIf="cerfForm; else loading">
		<mat-spinner *ngIf="pendingAction" diameter="36"></mat-spinner>
		<button mat-icon-button [disabled]="pendingAction || (cerf.status > 0 && user.access.club < 2) || (cerf.status > 1)" (click)="deleteCerf()"><mat-icon>delete</mat-icon></button>
		<button mat-icon-button [disabled]="!editable" (click)="saveCerf()"><mat-icon>save</mat-icon></button>
		<!--button mat-icon-button [disabled]="!editable || !cerfForm.dirty || !cerfForm.valid || pendingAction" (click)="saveCerf()"><mat-icon>save</mat-icon></button>
		<-- remove "cerf.status==0" once we change "draft" abstraction definition -->
		<button mat-icon-button *ngIf="cerf.status==0 || user.access.club < 2" [disabled]="!cerfForm.pristine || !cerfForm.valid || pendingAction || cerf.status > 0" (click)="submitCerf()" matTooltip="Submit to Secretary"><mat-icon>send</mat-icon></button>

		<!-- Secretary Only -->
		<ng-container *ngIf="user.access.club==2">
			<button mat-icon-button *ngIf="cerf.status==1 && cerf.author._id != user._id" (click)="unsubmitCerf()" [disabled]="pendingAction || !cerfForm.valid" matTooltip="Release"><mat-icon>restore</mat-icon></button>
			<button mat-icon-button *ngIf="cerf.status==1" (click)="approveCerf()" [disabled]="pendingAction || !cerfForm.valid" matTooltip="Add to MRF"><mat-icon>playlist_add</mat-icon></button>
			<button mat-icon-button *ngIf="cerf.status==2" (click)="unapproveCerf()" [disabled]="pendingAction || !cerfForm.valid" matTooltip="Remove from MRF"><mat-icon>playlist_remove</mat-icon></button>
		</ng-container>

		<!-- <span *ngIf="cerf.status>=1 && cerf.author_id == user._id" matTooltip="Already approved" [matTooltipDisabled]="cerf.status != 2">
			<button mat-icon-button  [disabled]="pendingAction || cerf.status==2" (click)="unsubmitCerf()"><mat-icon>playlist_add</mat-icon></button>
		</span>
		<button mat-icon-button *ngIf="cerf.status==1 && user.access.club==2" [disabled]="pendingAction" (click)="approveCerf()">Approve</button>
		<button mat-icon-button *ngIf="cerf.status==2 && user.access.club==2" [disabled]="pendingAction" (click)="unapproveCerf()">Unapprove</button> -->
	</div>
</div>



<form [formGroup]="cerfForm" *ngIf="cerfForm; else loading">

	<div id="main">
		<h3 class="mat-subheading-1">General Information</h3>
		<!-- <mat-form-f appearance="outline"ield>
			<mat-label>ID</mat-label>
			<input matInput formControlName="_id" readonly>
		</mat-form-field> -->

		<!-- DEBUGGING: <button mat-button (click)="printForm()">Print</button><br/> -->

		<mat-form-field appearance="outline">
			<mat-label>Event Name</mat-label>
			<input matInput formControlName="name" required>
			<!-- <button mat-icon-button matSuffix *ngIf="comment" matTooltip="{{comment}}">
				<mat-icon>chat_bubble</mat-icon>
			</button> -->
			<mat-error>Required</mat-error>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Event Chair</mat-label>
			<input matInput formControlName="chair" [matAutocomplete]="auto" (focus)="filterMembers($event)" (keyup)="filterMembers($event)">
			<!-- <button mat-icon-button matSuffix *ngIf="comment" matTooltip="{{comment}}">
				<mat-icon>chat_bubble</mat-icon>
			</button> -->
			<mat-error>Required</mat-error>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Person Filling out CERF</mat-label>
			<input matInput formControlName="author" readonly>
			<!-- <button mat-icon-button matSuffix *ngIf="comment" matTooltip="{{comment}}">
				<mat-icon>chat_bubble</mat-icon>
			</button> -->
			<mat-error>Required</mat-error>
		</mat-form-field>

		<br/>

		<ng-container formGroupName="time">
			<mat-form-field appearance="outline">
				<mat-label>Start Time</mat-label>
				<input id="startInput" matInput [matDatepicker]="start" formControlName="start" [max]="maxStartTime" (dateChange)="assertDateRange($event, true)">
				<mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
				<mat-datepicker type="datetime" #start></mat-datepicker>
				<mat-error>Invalid Time format</mat-error>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>End Time</mat-label>
				<input id="endInput" matInput [matDatepicker]="end" formControlName="end" [min]="minEndTime" (dateChange)="assertDateRange($event, false)">
				<mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
				<mat-datepicker type="datetime" #end></mat-datepicker>
				<mat-error>Invalid Time format</mat-error>
				<!--<mat-error class="invalid-range" *ngIf="cerfForm.hasError(invalid-range) && (cerfForm.touched || cerfForm.dirty)">Invalid Time Range!</mat-error>-->
			</mat-form-field>
		</ng-container>

		<br/>

		<mat-form-field appearance="outline">
			<mat-label>Location</mat-label>
			<input matInput formControlName="location">
			<!-- <button mat-icon-button matSuffix *ngIf="comment" matTooltip="{{comment}}">
				<mat-icon>chat_bubble</mat-icon>
			</button> -->
		</mat-form-field>		
		<mat-form-field appearance="outline">
			<mat-label>Contact Information</mat-label>
			<input matInput formControlName="contact">
			<!-- <button mat-icon-button matSuffix *ngIf="comment" matTooltip="{{comment}}">
				<mat-icon>chat_bubble</mat-icon>
			</button> -->
		</mat-form-field>

		<!-- <p>Labels</p>
		<button mat-raised-button [disabled]="cerfForm.disabled" (click)="addLabel()">Add Label</button>
		<div id="labels" formArrayName="labels">
			<ng-container *ngFor="let label of cerfForm.controls.labels.controls; let i=index">
				<button mat-icon-button (click)="removeLabel(i)"> <mat-icon>cancel</mat-icon> </button>
				<mat-form-field>
					<input matInput [disabled]="cerfForm.disabled" [formControlName]="i">
				</mat-form-field>
			</ng-container>
		</div> -->

		

	</div>


	<mat-accordion displayMode="flat" [multi]="true">


	  <mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true"
	  						(opened)="openedPanels[0] = 1"
	                       (closed)="openedPanels[0] = 0">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[0] ? "expand_less" : "expand_more" }}</mat-icon>
	        <h3 class="mat-subheading-1">Event Tags*</h3>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>

	    <ng-container formGroupName="tags">
			<mat-form-field *n appearance="outline"gFor="let tag of tags; let i=index">
				<mat-label>Tags</mat-label>
				<input matInput [formControlName]="i">
			</mat-form-field>
		</ng-container>
		<p>Click to display info about each tag <a mat-icon-button (click)="openTagHelp()"><mat-icon [inline]="true">help</mat-icon></a></p>

<!-- 		<div id="tags">
			<div *ngFor="let tag of tagOptions; let i=index">
				<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tag)" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tag, $event.checked)">{{ tagNames[i] }}</mat-checkbox>
				<p [class.show-tag-hints]="showTagHints">{{ tagDescriptions[i] }}</p>
			</div>

		</div> -->

		<div id="tags">

			<div class="tag-service">
				<h4>Service</h4>
				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[0])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[0], $event.checked)">Community Service</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">An event where your club members are serving for the community without pay</p>
				</div>

				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[1])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[1], $event.checked)">Campus Service</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">Any event where your club is doing community service on your school's campus</p>
				</div>

				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[2])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[2], $event.checked)">Continuing Service</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">An event that has been completed with the same organization repeatedly at least once a month for a two-month duration</p>
				</div>

				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[3])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[3], $event.checked)">District Service Initiative</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">Any event that contributes to the current District Service Initiative</p>
				</div>

				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[4])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[4], $event.checked)">International Service Initiative</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">Any event that contributes to the current International Service Initiative</p>
				</div>
			</div>


			<div class="tag-leadership">
				<h4>Leadership</h4>
				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[5])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[5], $event.checked)">Administrative</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">Any event related to the operation of the club should be tagged as AD. Examples of administrative events include but are not limited to attending meetings (e.g. general meetings, board meetings, committee meetings, Kiwanis meetings), and workshops</p>
				</div>
			</div>
			<div class="tag-fellowship">
				<h4>Fellowship</h4>
				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[6])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[6], $event.checked)">Social Event</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">Any event in which club members are socially interacting with one another should be tagged as SE. A social event promotes the moral of members so it is usually tagged as MD; however, remember that although all SE events are MD-tagged, not all MD events are SE-tagged (e.g. workshops)</p>
				</div>
			</div>


			

			<div class="tag-misc">
				<h4>Miscellaneous</h4>
				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[7])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[7], $event.checked)">Membership Development</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">An event that promotes membership recruitment and development</p>
				</div>

				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[8])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[8], $event.checked)">Fundraiser</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">A home club-hosted event that raises money for a charity or for administrative funds</p>
				</div>

				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[9])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[9], $event.checked)">Circle K</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">An event in which at least two members from your Circle K club and at least two members from another Circle K club are present</p>
				</div>

				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[10])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[10], $event.checked)">Kiwanis Family</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">An event in which at least two members from your Circle K club and at least two members from another non-Circle K Kiwanis Family club are present</p>
				</div>

				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[11])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[11], $event.checked)">Interclub</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">An event in which there must be a certain amount of members from your Circle K club and the same amount of members from another Circle K/Kiwanis Family club present, depending on your Circle K club's number of dues paid members. Clubs with less than or equal to 20 members need a minimum of two members present; clubs with 21-30 members need a minimum of three memberrs present; and clubs with greater than or equal to 31 members need a minimum of four members present</p>
				</div>

				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[12])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[12], $event.checked)">Webinar</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">An online webinar usualy hosted by the District Board for the District. This tag applies to both District and International webinars</p>
				</div>

				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[13])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[13], $event.checked)">Divisional</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">An event hosted by and for the Division, which is usually hosted by the respective Lieutenant Governor (and Divisional Board)</p>
				</div>

				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[14])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[14], $event.checked)">District</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">An event hosted by and for the District</p>
				</div>

				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[15])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[15], $event.checked)">International</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">An event hosted by Circle K International</p>
				</div>

				<div>
					<mat-checkbox [checked]="cerfForm.get('tags').value.includes(tagIds[16])" [disabled]="cerfForm.disabled" (change)="addRemoveTag(tagIds[16], $event.checked)">Club Hosted</mat-checkbox>
					<p [class.show-tag-hints]="showTagHints">Any event hosted through your Circle K club</p>
				</div>
			</div>

			

		</div>

	  </mat-expansion-panel>







	  <mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true"
	  						(opened)="openedPanels[1] = 1"
	                       (closed)="openedPanels[1] = 0">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[1] ? "expand_less" : "expand_more" }}</mat-icon>
	        <h3 class="mat-subheading-1">Home Club Attendance</h3>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>
	    <ng-container formGroupName="hoursPerAttendee">
			<mat-form-field appearance="outline">
				<mat-label>Default Service Hours</mat-label>
				<input matInput formControlName="service">
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Default Leadership Hours</mat-label>
				<input matInput formControlName="leadership">
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Default Fellowship Hours</mat-label>
				<input matInput formControlName="fellowship">
			</mat-form-field>
		</ng-container>
		<!-- ngFor attendees -->
		<br/>
		<div id="memberTable">
			<mat-table [dataSource]="attendanceArray.controls" formArrayName="attendees">
				<ng-container matColumnDef="members">
					<mat-header-cell *matHeaderCellDef> Members </mat-header-cell>
					<mat-cell *matCellDef="let i=index" [formGroupName]="i">
						<!-- <button mat-icon-button (click)="removeMember(i)"> <mat-icon>cancel</mat-icon> </button> -->
						<mat-form-field>
							<input matInput [disabled]="cerfForm.disabled" formControlName="memberId" [matAutocomplete]="auto">
						</mat-form-field>
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field class="member-cell">
							<mat-label>+ Add Attendee</mat-label>
							<input matInput [disabled]="cerfForm.disabled" id="attendanceFocus" [(ngModel)]="newAttendance.memberId" [ngModelOptions]="{standalone: true}" [matAutocomplete]="auto" (focus)="filterMembers($event)" (keyup)="filterMembers($event)" (keyup.enter)="addAttendance()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>

				<ng-container matColumnDef="service">
					<mat-header-cell *matHeaderCellDef> Service </mat-header-cell>
					<mat-cell *matCellDef="let member; let i=index"  [formGroupName]="i">
						<mat-form-field>
							<input matInput formControlName="service">
						</mat-form-field>
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field>
							<input matInput [disabled]="cerfForm.disabled" [(ngModel)]="newAttendance.service" [ngModelOptions]="{standalone: true}" (keyup.enter)="addAttendance()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="leadership">
					<mat-header-cell *matHeaderCellDef> Leadership </mat-header-cell>
					<mat-cell *matCellDef="let member; let i=index"  [formGroupName]="i">
						<mat-form-field>
							<input matInput formControlName="leadership">
						</mat-form-field>
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field>
							<input matInput [disabled]="cerfForm.disabled" [(ngModel)]="newAttendance.leadership" [ngModelOptions]="{standalone: true}" (keyup.enter)="addAttendance()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="fellowship">
					<mat-header-cell *matHeaderCellDef> Fellowship </mat-header-cell>
					<mat-cell *matCellDef="let member; let i=index"  [formGroupName]="i">
						<mat-form-field>
							<input matInput formControlName="fellowship">
						</mat-form-field>
						<button type="button" (click)="deleteAttendee(i)">X</button>
					</mat-cell>
					<mat-footer-cell *matFooterCellDef>
						<mat-form-field>
							<input matInput [disabled]="cerfForm.disabled" [(ngModel)]="newAttendance.fellowship" [ngModelOptions]="{standalone: true}" (keyup.enter)="addAttendance()">
						</mat-form-field>
					</mat-footer-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="attendanceColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: attendanceColumns;"></mat-row>
				<mat-footer-row *matFooterRowDef="attendanceColumns"></mat-footer-row>
			</mat-table>

			<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName.bind(this)">
				<mat-option *ngFor="let option of filteredRoster" [value]="option._id">
					<p class="mat-body name">{{option.name}}</p>
					<p class="mat-caption email">{{option.email}}</p>
				</mat-option>
			</mat-autocomplete>
		</div>
	  </mat-expansion-panel>







	  <mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true"
	  						(opened)="openedPanels[2] = 1"
	                       (closed)="openedPanels[2] = 0">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[2] ? "expand_less" : "expand_more" }}</mat-icon>
	        <h3 class="mat-subheading-1">Kiwanis Family Attendance</h3>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>
	    
		<!-- <app-input-list [data]="cerf.kfamAttendance" [columns]="kfamColumns" (formReady)="inputListReady('kfamAttendance', $event)"></app-input-list> -->
		<mat-table [dataSource]="kfamArray.controls" formArrayName="kfamAttendance">
			<ng-container matColumnDef="org">
				<mat-header-cell *matHeaderCellDef>Org</mat-header-cell>
				<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
					<input matInput formControlName="org">
				</mat-cell>
				<mat-footer-cell *matFooterCellDef>
					<mat-form-field>
						<mat-label>+ Add Org</mat-label>
						<input matInput [disabled]="cerfForm.disabled" id="kfamFocus" [(ngModel)]="newKfam.org" [ngModelOptions]="{standalone: true}" (keyup.enter)="addKfam()">
					</mat-form-field>
				</mat-footer-cell>
			</ng-container>

			<ng-container matColumnDef="numAttendees">
				<mat-header-cell *matHeaderCellDef>Num Attendees</mat-header-cell>
				<mat-cell *matCellDef="let row; let i=index"  [formGroupName]="i">
					<input matInput formControlName="numAttendees">
					<button type="button" (click)="deleteKfam(i)">X</button>
				</mat-cell>
				<mat-footer-cell *matFooterCellDef>
					<mat-form-field>
						<input matInput [disabled]="cerfForm.disabled" [(ngModel)]="newKfam.numAttendees" [ngModelOptions]="{standalone: true}" (keyup.enter)="addKfam()">
					</mat-form-field>
				</mat-footer-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="kfamColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: kfamColumns;"></mat-row>
			<mat-footer-row *matFooterRowDef="kfamColumns"></mat-footer-row>
		</mat-table>
	  </mat-expansion-panel>







	  <mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true"
	  						(opened)="openedPanels[3] = 1"
	                       (closed)="openedPanels[3] = 0">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[3] ? "expand_less" : "expand_more" }}</mat-icon>
	        <h3 class="mat-subheading-1">Driving</h3>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>
	    
	    <!-- <app-input-list [data]="cerf.drivers" [columns]="driverColumns" (formReady)="inputListReady('drivers', $event)"></app-input-list> -->
		<mat-table [dataSource]="driverArray.controls" formArrayName="drivers">
			<ng-container matColumnDef="driver">
				<mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
				<mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
					<input matInput formControlName="driver">
				</mat-cell>
				<mat-footer-cell *matFooterCellDef>
					<mat-form-field>
						<mat-label>+ Add Driver</mat-label>
						<input matInput [disabled]="cerfForm.disabled" id= "driverFocus" [(ngModel)]="newDriver.driver" [ngModelOptions]="{standalone: true}" (keyup.enter)="addDriver()">
					</mat-form-field>
				</mat-footer-cell>
			</ng-container>

			<ng-container matColumnDef="milesTo">
				<mat-header-cell *matHeaderCellDef>Miles To</mat-header-cell>
				<mat-cell *matCellDef="let row; let i=index"  [formGroupName]="i">
					<input matInput formControlName="milesTo">
				</mat-cell>
				<mat-footer-cell *matFooterCellDef>
					<mat-form-field>
						<input matInput [disabled]="cerfForm.disabled" [(ngModel)]="newDriver.milesTo" [ngModelOptions]="{standalone: true}" (keyup.enter)="addDriver()">
					</mat-form-field>
				</mat-footer-cell>
			</ng-container>

			<ng-container matColumnDef="milesFrom">
				<mat-header-cell *matHeaderCellDef>Miles From</mat-header-cell>
				<mat-cell *matCellDef="let row; let i=index"  [formGroupName]="i">
					<input matInput formControlName="milesFrom">
					<button type="button" (click)="deleteDriver(i)">X</button> 
				</mat-cell>
				<mat-footer-cell *matFooterCellDef>
					<mat-form-field>
						<input matInput [disabled]="cerfForm.disabled" [(ngModel)]="newDriver.milesFrom" [ngModelOptions]="{standalone: true}" (keyup.enter)="addDriver()">
					</mat-form-field>
				</mat-footer-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="driverColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: driverColumns;"></mat-row>
			<mat-footer-row *matFooterRowDef="driverColumns"></mat-footer-row>
		</mat-table>	<!--     <mat-table>

			<ng-container matColumnDef="members">
				<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
				<mat-cell>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="''"></mat-header-row>
			<mat-row *matRowDef="let row; columns: attendanceColumns;"></mat-row>
		</mat-table> -->

	  </mat-expansion-panel>






	  <mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true"
	  						(opened)="openedPanels[4] = 1"
	                       (closed)="openedPanels[4] = 0"
	                       formGroupName="fundraised">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[4] ? "expand_less" : "expand_more" }}</mat-icon>
	        <h3 class="mat-subheading-1">Fundraising</h3>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>

		<mat-form-field appearance="outline">
			<mat-label>Amount Raised</mat-label>
			<input matInput formControlName="amountRaised">
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Amount Spent</mat-label>
			<input matInput formControlName="amountSpent">
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>How were the funds used</mat-label>
			<textarea matInput formControlName="usedFor"></textarea>
		</mat-form-field>

	  </mat-expansion-panel>





<!--
	  <mat-expansion-panel [class.mat-elevation-z0]="true" [hideToggle]="true"
	  						(opened)="openedPanels[5] = 1"
	                       (closed)="openedPanels[5] = 0">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <mat-icon class="expansion-icon" [inline]="true">{{ openedPanels[5] ? "expand_less" : "expand_more" }}</mat-icon>
	        <h3 class="mat-subheading-1">Comments</h3>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>
	    
	    <mat-form-field class="full-width" appearance="outline">
	    	<textarea matInput placeholder="Summary" (change)="commentChange()"></textarea> 
	    	<mat-hint>Make your summary clear and concise so that anyone who reads it can know what the event was about without
	    	actually having to be there.</mat-hint>
	    </mat-form-field>

	    <mat-form-field class="full-width" appearance="outline">
	    	<textarea matInput placeholder="Strengths" (change)="commentChange()"></textarea>
	    </mat-form-field>

	    <mat-form-field class="full-width" appearance="outline">
	    	<textarea matInput placeholder="Weaknesses" (change)="commentChange()"></textarea>
	    </mat-form-field>

	    <mat-form-field class="full-width" appearance="outline">
	    	<textarea matInput placeholder="Improvements" (change)="commentChange()"></textarea>
	    	<mat-hint>What would you do differently if you did this event again?</mat-hint>
	    </mat-form-field>

	  </mat-expansion-panel>
-->
	</mat-accordion>

	<div id="categories">

		<h3>Categories</h3>
		<p>(for your own cataloging)</p>

		<div id="categories" formArrayName="categories" class="flex-container">
			<ng-container *ngFor="let category of categoryButtons; let i=index">
				<div class="categoryWrapper">
					<button mat-button class="categoryButton" (click)="toggleLabel(category)" [ngClass]="{'mat-elevation-z4': !isLabelActive(category), 'activeCategory': isLabelActive(category)}">{{category}}</button> 
					<mat-icon class="deleteCategory" (click)="removeLabel(i)">cancel</mat-icon>
					<span *ngIf="!isLast">&nbsp;&nbsp;</span>
				</div>
			</ng-container>
		</div>
		<button mat-button *ngIf="!addingCategory" [disabled]="cerfForm.disabled" (click)="addLabel()">+ Add Category</button>
		<form *ngIf="addingCategory">
			<mat-form-field *ngIf="addingCategory" (keyup.enter)="newLabel(newCategory.value)" (keyup.esc)="addingCategory=false">
				<input matInput #newCategory>
				<mat-icon matSuffix (click)="newLabel(newCategory.value)">arrow_forward</mat-icon>
				<mat-icon matSuffix (click)="addingCategory=false">cancel</mat-icon>
			</mat-form-field>
		</form>

	</div>

</form>

<ng-template #loading><h3>Loading...</h3></ng-template>
