p, input {
	font-family: "Century Gothic";
}
h1, h3 {
	color: #144c83;
	font-family: "Century Gothic";
	font-weight: bold;
	margin-bottom: 0;
}
h1 {
	font-size: 64px;
	margin-bottom: 32px;
}

.mat-form-field {
	padding-left: 5px;
	padding-right: 5px;
}
#memberTable .mat-form-field {
	border: none;
}

/*
.mat-column-org, .mat-column-numAttendees {
	flex: 0 0 100px;
}
*/

/* Alignment */
#main {
	margin-left: 36px;
}
.mat-expansion-panel-header-title {
	display: inline-flex;
	align-items: center;
}
.expansion-icon {
	margin-right: 5px;
}

#cerf-header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;	/* Throw the nav to the right */
	margin-left: 36px;
}
#cerf-actions {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: #6c6d6e;
}
#cerf-actions mat-icon {
	margin: 0 10px;
}
#cerf-actions p {
	margin: 0;
}
#cerf-actions button {
	margin: 0 5px;
}

#cerf-tabs {
	display: flex;
	right: 0;
	flex-flow: row nowrap;
	margin-bottom: 16px;
}
#cerf-tabs ul {
	display: flex;	/* Change vertical nav to horizontal nav*/
	align-self: flex-end;
	padding: 0;
	margin: 0;	/* Some style sheet is forcing auto-centering margins onto ul */
	list-style: none;
}
#cerf-tabs ul li {
	margin: 0 5px;
}

.mat-elevation-z4 {	/* Using this as an 'active tab' selector, though we can add a bit more code to separate the two */
	border-radius: 0 0 4px 4px;
}

#memberTable {
	max-width: 80%;
}
#memberTable input {
	border: 0;
}
#memberTable mat-row:hover input {
	background: rgba(0, 0, 0, 0.04);
}
.addMember {
	display: flex;
	max-width: 80%;
}

.addMember .mat-form-field {
	max-width: 33%;
	flex: 1;
}
.name {
	margin: 0;
}
.email {
	margin: 0;
	color: #ccc;
}
/* TODO: Responsive for mobile */
/*
#commentary {
	display: flex;
	flex-direction: column;
}*/


.activeColor {
	border: solid 2px white;
}

/*#tags .mat-checkbox {
	margin: 0 20px 0 0;
}*/
#tags {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0px 20px;
	grid-auto-flow: row;
	align-items: start;
	/*grid-auto-rows: 1fr 1fr;*/
	/*column-count: 2;
	-webkit-column-break-inside:avoid;
	-moz-column-break-inside:avoid;
	-o-column-break-inside:avoid;
	-ms-column-break-inside:avoid;
	column-break-inside:avoid; */
}
.tag-misc {
	grid-row: 1/4;
}
.tag-group {
	/*display: inline-block;*/
	/*grid-auto-flow: row;*/
}
#tags h4 {
	/*margin: 0;*/
}
/*@media screen and (min-width: 500px) and (max-width: 768px) {
	#tags {
		grid-template-columns: 300px 300px;
	}
}
@media screen and (min-width: 769px) {
	#tags {
		grid-template-columns: 250px 250px 250px;
	}
}*/
#tags > div {
	/*margin: 0 5px;*/
}
#tags p {
	margin: 0 0 0 20px;
	color: gray;
	font-size: 12px;
	overflow: hidden;

	max-height: 0px;
	transition: max-height 0.5s ease-in-out;
}

#tags p.show-tag-hints {
	max-height: 500px;
}

#labels {
	display: flex;
	flex-flow: row wrap;
}

#labels > div {
	position: relative;
	margin: 5px 10px;
}


.categoryButton.activeCategory {
	background-color: #00a5d9;
	color: white;
}

.deleteCategory {
	visibility: hidden;
	position: absolute;
	top: -25px;
	right: -25px;
}
.categoryButton:hover ~ .deleteCategory, .deleteCategory:hover {
	visibility: visible;
}

.full-width {	/* text area */
	width: 100%;
}
.mat-column-members {
	flex: 0 0 200px;
}


/* Validation/feedback */
/*input.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

input.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
input.ng-invalid:not(form) ~ span {
  padding-left: 5px;
}*/