<h3 matDialogTitle>Tag Descriptions</h3>

<mat-dialog-content>
	<p><strong>Community Service</strong>: An event where your club members are serving for the community without pay</p>
	<p><strong>Campus Service</strong>: Any event where your club is doing community service on your school's campus</p>
	<p><strong>Continuing Service</strong>: An event that has been completed with the same organization repeatedly at least once a month for a two-month duration</p>
	<p><strong>District Service Initiative</strong>: Any event that contributes to the current District Service Initiative</p>
	<p><strong>International Service Initiative</strong>: Any event that contributes to the current International Service Initiative</p>
	<p><strong>Administrative</strong>: Any event related to the operation of the club should be tagged as AD. Examples of administrative events include but are not limited to attending meetings (e.g. general meetings, board meetings, committee meetings, Kiwanis meetings), and workshops</p>
	<p><strong>Social Event</strong>: Any event in which club members are socially interacting with one another should be tagged as SE. A social event promotes the moral of members so it is usually tagged as MD; however, remember that although all SE events are MD-tagged, not all MD events are SE-tagged (e.g. workshops)</p>
	<p><strong>Membership Development</strong>: An event that promotes membership recruitment and development</p>
	<p><strong>Fundraiser</strong>: A home club-hosted event that raises money for a charity or for administrative funds</p>
	<p><strong>Circle K</strong>: An event in which at least two members from your Circle K club and at least two members from another Circle K club are present</p>
	<p><strong>Kiwanis Family</strong>: An event in which at least two members from your Circle K club and at least two members from another non-Circle K Kiwanis Family club are present</p>
	<p><strong>Interclub</strong>: An event in which there must be a certain amount of members from your Circle K club and the same amount of members from another Circle K/Kiwanis Family club present, depending on your Circle K club's number of dues paid members. Clubs with less than or equal to 20 members need a minimum of two members present; clubs with 21-30 members need a minimum of three memberrs present; and clubs with greater than or equal to 31 members need a minimum of four members present</p>
	<p><strong>Webinar</strong>: An online webinar usualy hosted by the District Board for the District. This tag applies to both District and International webinars</p>
	<p><strong>Divisional</strong>: An event hosted by and for the Division, which is usually hosted by the respective Lieutenant Governor (and Divisional Board)</p>
	<p><strong>District</strong>: An event hosted by and for the District</p>
	<p><strong>International</strong>: An event hosted by Circle K International</p>
	<p><strong>Club Hosted</strong>: Any event hosted through your Circle K club</p>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-button matDialogClose>Close</button>
</mat-dialog-actions>