.mat-drawer-side {
    border: none;
}

.menu {
/*	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;*/
    width: 240px;
    padding-top: 60px;
    background-color: #eceff1;
}
/* Palette
background: #eceff1;
menu icon: #6b7378;
menu text: #636566;
menu text active: #185287;
menu text background active: #dbe5eb; (border-radius 5px)

header: #003d79;
text: #144c83;
Input border: #6c6d6e; (outline)
Input hint: #5e5f60;
Event action icons: #6c6d6e;

*/
#cnhlogo {
    display: block;
    max-width: 75%;
    height: auto;
    margin: 0 auto 24px auto;
}
.menu-container {
    /*background-color: #fbfbfb;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.menu-container mat-icon, .menu-container span {
    color: #636566;
}
.menu-container span {
    /*font-weight: bold;*/
}

/*
.menu ul {
    display: flex;
    flex-direction: column; 

    position: absolute;
    z-index: 10;
    width: 240px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: none;
    text-decoration: none;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 60px;
}

.menu a mat-icon {
    vertical-align: middle;
    padding-left: 18px;
}
*/

.menu a span {
    padding-left: 24px;
    margin-bottom: 0; /* darn material typography */
}
/*.menu a {
    transition: padding-left .3s;
}*/

/*.menu a:hover {
    padding-left: 10px;
}*/

#settings {
    margin-top: auto;
}

/*mat-sidenav-content { 
    display: flex;
}*/

.mat-toolbar {
    margin-bottom: 2%;    /* Push main content down to give the toolbar some space */
}

#content {
    /*width: 100%;*/
    padding-top: 120px;
    padding-left: 75px;
    padding-right: 50px;
    flex: 1;
    margin-bottom: 80px;    /* Give the logo some space */
}


/* Reference: https://stackoverflow.com/questions/46722868/sticky-footer-in-angular-2-material */
.menu-container {
    min-height: 100vh;
}
.sidenav-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer {
    position: relative;
}
.footer img {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
}

.active-route {
    pointer-events: none;
    cursor: default;

    border-radius: 10px;
    background: #dbe5eb !important;
    color: #185287;
    transition: background ease 0.6s, color ease 0.6s;
}
/*
.footer {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
}

*/

/*#masthead {
    height: 100%;
}*/