<!-- <mat-sidenav-container class="menu-container" fullscreen [class.light-theme]="isLightTheme" [class.dark-theme]="!isLightTheme" class="mat-app-background mat-typography">
  <mat-sidenav #sidenav mode="over" class="menu" [autoFocus]="false">
    <mat-nav-list>

      <a mat-list-item *ngFor="let link of authLinks" [routerLink]="link.route" (click)="sidenav.close()">
        <span>{{ link.text }}</span>
        <mat-icon matListIcon *ngIf="link.icon">{{ link.icon }}</mat-icon>
      </a>

      <a id="settings" mat-list-item [routerLink]="['/settings']" (click)="sidenav.close()">
        <span>Settings</span>
        <mat-icon matListIcon>settings</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <div class="sidenav-content">

      <mat-toolbar color="primary">
        <button mat-icon-button [disableRipple]="true" [disabled]="!(userSubject | async)" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-mini-fab [disableRipple]="true" (click)="toggleTheme()"></button>
      </mat-toolbar>


      <div id="content">
        <router-outlet></router-outlet>
      </div>


      <footer class="footer">
        <img *ngIf="isLightTheme" id="masthead"
        srcset="/assets/Black_Masthead.png 2398w,
        /assets/Black_Masthead_1567x80.png 1567w"
        sizes="(max-width: 600px) 2500px,
        1500px" 
        src="/assets/Black_Masthead.png">
        <img *ngIf="!isLightTheme" id="masthead"
        srcset="/assets/White_Masthead.png 2398w,
        /assets/White_Masthead_1567x80.png 1567w"
        sizes="(max-width: 600px) 2500px,
        1500px" 
        src="/assets/White_Masthead.png">
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->
  <mat-drawer-container class="menu-container">
    <mat-drawer mode="side" [opened]="(userSubject | async)" class="menu" [autoFocus]="false">
      <mat-nav-list>
        <img id="cnhlogo" src="/assets/cnh_district_emblem.png" />
        <a mat-list-item *ngFor="let link of authLinks" [routerLink]="link.route" [disableRipple]="true" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-route">
          <span class="mat-subheading-1">{{ link.text }}</span>
          <mat-icon matListIcon *ngIf="link.icon">{{ link.icon }}</mat-icon>
        </a>

        <a id="settings" mat-list-item [routerLink]="['/settings']" [disableRipple]="true" routerLinkActive="active-route">
          <span class="mat-subheading-1">Settings</span>
          <mat-icon matListIcon>settings</mat-icon>
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div id="content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <footer class="footer">
        <img *ngIf="isLightTheme" id="masthead"
        srcset="/assets/Black_Masthead.png 2398w,
        /assets/Black_Masthead_1567x80.png 1567w"
        sizes="(max-width: 600px) 2500px,
        1500px" 
        src="/assets/Black_Masthead.png">
        <img *ngIf="!isLightTheme" id="masthead"
        srcset="/assets/White_Masthead.png 2398w,
        /assets/White_Masthead_1567x80.png 1567w"
        sizes="(max-width: 600px) 2500px,
        1500px" 
        src="/assets/White_Masthead.png">
      </footer>

<!-- <div class="content">
  <router-outlet></router-outlet>
</div> -->