$md-graphiclightblue: (
    50 : #f8fafd,
    100 : #eef3fa,
    200 : #e3ebf7,
    300 : #d8e2f3,
    400 : #cfdcf1,
    500 : #c7d6ee,
    600 : #c1d1ec,
    700 : #bacce9,
    800 : #b3c6e7,
    900 : #a6bce2,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-graphicred: (
    50 : #f0e0e5,
    100 : #dab3bd,
    200 : #c18092,
    300 : #a84d66,
    400 : #952645,
    500 : #820024,
    600 : #7a0020,
    700 : #6f001b,
    800 : #650016,
    900 : #52000d,
    A100 : #ff858e,
    A200 : #ff525f,
    A400 : #ff1f30,
    A700 : #ff0518,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-graphicblue: (
    50 : #e0e8ef,
    100 : #b3c5d7,
    200 : #809ebc,
    300 : #4d77a1,
    400 : #265a8d,
    500 : #003d79,
    600 : #003771,
    700 : #002f66,
    800 : #00275c,
    900 : #001a49,
    A100 : #7d9dff,
    A200 : #4a76ff,
    A400 : #1750ff,
    A700 : #003efc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-graphicyellow: (
    50 : #fdfbf1,
    100 : #fbf6dc,
    200 : #f9f0c5,
    300 : #f6eaae,
    400 : #f4e69c,
    500 : #f2e18b,
    600 : #f0dd83,
    700 : #eed978,
    800 : #ecd56e,
    900 : #e8cd5b,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fffbe9,
    A700 : #fff5cf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-graphicolive: (
    50 : #f3f4ee,
    100 : #e2e3d5,
    200 : #cfd1ba,
    300 : #bbbf9e,
    400 : #adb189,
    500 : #9ea374,
    600 : #969b6c,
    700 : #8c9161,
    800 : #828857,
    900 : #707744,
    A100 : #f9ffd1,
    A200 : #f2ff9e,
    A400 : #ebff6b,
    A700 : #e8ff51,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-graphicgreen: (
    50 : #edf2e9,
    100 : #d2dfc8,
    200 : #b5caa4,
    300 : #97b47f,
    400 : #80a463,
    500 : #6a9448,
    600 : #628c41,
    700 : #578138,
    800 : #4d7730,
    900 : #3c6521,
    A100 : #c7ffa6,
    A200 : #a7ff73,
    A400 : #86ff40,
    A700 : #76ff26,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-graphicorange: (
    50 : #fef0e5,
    100 : #fcd9be,
    200 : #fac092,
    300 : #f8a666,
    400 : #f79346,
    500 : #f58025,
    600 : #f47821,
    700 : #f26d1b,
    800 : #f06316,
    900 : #ee500d,
    A100 : #ffffff,
    A200 : #ffece5,
    A400 : #ffc6b3,
    A700 : #ffb399,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-graphicblack: (
    50 : #e5e4e4,
    100 : #bdbcbc,
    200 : #918f90,
    300 : #656263,
    400 : #444141,
    500 : #231f20,
    600 : #1f1b1c,
    700 : #1a1718,
    800 : #151213,
    900 : #0c0a0b,
    A100 : #ff52ff,
    A200 : #ff1fff,
    A400 : #eb00eb,
    A700 : #d200d2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-graphicdarkgrey: (
    50 : #ebebeb,
    100 : #cdcdce,
    200 : #acacad,
    300 : #8a8b8c,
    400 : #717274,
    500 : #58595b,
    600 : #505153,
    700 : #474849,
    800 : #3d3e40,
    900 : #2d2e2f,
    A100 : #8cc0f4,
    A200 : #5da7f0,
    A400 : #1b8dff,
    A700 : #0280ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-graphiccyan: (
    50 : #e0f4fa,
    100 : #b3e4f4,
    200 : #80d2ec,
    300 : #4dc0e4,
    400 : #26b3df,
    500 : #00a5d9,
    600 : #009dd5,
    700 : #0093cf,
    800 : #008aca,
    900 : #0079c0,
    A100 : #e9f6ff,
    A200 : #b6e0ff,
    A400 : #83caff,
    A700 : #69c0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

