h2 {
	font-family: "Century Gothic";
	font-size: 48px;
	margin-bottom: 32px;
}

#header button {
	margin-left: 16px;
}

.selecting mat-row {
	cursor: pointer;
}

.addButton {
	border-radius: 10px;
	color: white;
	background-color: #003366;
	/*margin-right: 32px;*/
	float: right;
}

mat-row:not(.member-detail-row):hover {
  background: #f5f5f5;
}

.member-detail-row {
	height: 0;
}

.member-detail {
	overflow: hidden;
}

.expanded-row, .mat-column-expandedDetail {
	border-bottom-width: 0;
}