.body{
	text-align: center;
	white-space: nowrap;
}

.logo{
	max-width: 15%;
	max-height: 15%;
}

.linkDeco{
	text-decoration: none;
}

.linkDeco:hover{
	text-decoration: underline;
}
.marginRight{
	margin-right: 10px;
}

.marginBottom{
	margin-bottom: 5px;
}