.body{
	text-align: center;
	margin-top: 5%;
}

.logo{
	max-width: 10%;
	max-height: 10%;
}

.linkDeco{
	text-decoration: none;
}

.linkDeco:hover{
	text-decoration: underline;
}
.marginRight{
	margin-right: 10px;
}


.marginBottom{
	margin-bottom: 5px;
}