<div class="body">
	<h1>Online MRF Portal</h1>


	<form #loginForm= "ngForm">
		<img src="assets/cnhlogo.png" class="logo"> 
		<div>
			<p *ngIf="wrong"><strong>Username or Password is incorrect</strong></p>
			<span class="marginRight"><mat-form-field appearance="outline"> <mat-label>Username</mat-label>
				<input required matInput ngModel
				#Username= "ngModel" name= "Username" placeholder= "Username"/>
				<mat-error *ngIf= "Username.touched && Username.invalid">Username is required</mat-error>
			</mat-form-field></span><!-- Username field -->

			<mat-form-field appearance="outline"> <mat-label>Password</mat-label>
				<input required matInput ngModel 
				#Password= "ngModel" name= "Password" placeholder= "Password" type= "password"/>
				<mat-error *ngIf= "Password.touched && Password.invalid">Password is required</mat-error>
			</mat-form-field><!-- Password field -->
		</div>

		<div class="marginBottom"> <a href="" class="linkDeco"> Forgot your credentials? </a> </div>

		<div>
			<button class= "marginRight" mat-raised-button (click)= "login( Username.value , Password.value )">
				Log In <i class="material-icons">done</i>
			</button>

			<button routerLink= "/signup" mat-raised-button>
				Sign Up <i class= "material-icons">add</i>
			</button>
		</div><!-- Log In and Sign Up Buttons -->

	</form>
</div>