<h1> Log In </h1>

<form #loginForm="ngForm">
	<mat-form-field>
		<mat-label>Username</mat-label>
		<input matInput name="Username" [(ngModel)]="username">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Password</mat-label>
		<input matInput name="Password" [(ngModel)]="password">
	</mat-form-field>

		<a class="button" mat-stroked-button (click)="login()">
		Log In <i class="material-icons">done</i></a>

	<a routerLink="/signup"><button class="button" mat-stroked-button>

		Sign Up <i class="material-icons">add</i></button>

	</a>

</form>