<div class="action">
  <h2 class="mat-title">Clubs in {{ division | divisionID }}</h2>
  <div>
    <button mat-raised-button (click)="newClub()">+ Add Club</button>
  </div>
</div>

<mat-table [dataSource]="clubs" matSort>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <p class="mat-body-1">{{row.name}}</p>
    </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a mat-icon-button [routerLink]="'/mrfs'" [queryParams]="{clubId: row._id}" matTooltip="See MRFs"><mat-icon>table_cell</mat-icon></a>
      <a mat-icon-button [routerLink]="'/club'" [queryParams]="{clubId: row._id}" matTooltip="See Club Administration"><mat-icon>people</mat-icon></a>
    </mat-cell>
  </ng-container>

  <!-- Header columns -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>